.header{
  display: flex;
  width: 100px;
  height:100%;
  border: 1px solid black;
  flex-direction: column;
}

.material-icons{
  vertical-align:sub;
}

.menu{
  position: absolute;
  font-style: oblique;
  justify-content: flex-end;
  left: 850px;    
}

.menu a{
  text-decoration: none;
}

ul{
  list-style-type: none; /* Quita las viñetas predeterminadas */
  margin: 18px; /* Elimina el espacio externo */
}

li {
  display: inline; /* Muestra los elementos en línea */
  margin-right: 25px; /* Añade un espacio entre los elementos */
}

.inicioProductoContactos img{
  object-fit: fill;
  width: 100%;
  height: 100%;
}


.inicioProductoContactos{
  display:inline-flex;
  background-color: rgb(243, 250, 180);
  height: 100px;
  width: 1336px;
  left: 8px;
  flex-wrap: nowrap;
}

.inicioProductoContactos h1{
  display: flex;
  position: absolute;
  font-style: oblique;
  padding-left: 180px;
}

h2{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.form{
  font-family: 'Montserrat', sans-serif;
  border: solid rgb(243, 250, 180);
  text-align: center;
}

#btnEnviar{
  font-weight: bold;
  font-size: 15px;
  align-items: center;
}

.fotofooter{
  width: 1336px;
  margin-top: 10px;
}

.footer{
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 14px;
  height: 40px;
  width: 1300px;
  margin-top: 0px;
  text-align: center;
}


